/* .cardContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: sticky;

    top: 0px; /*to make position sticky work

} */
.cardContainer h2 {
    align-self: center;
    color: blue;
}

.cardContainer p {
    color: brown;
}

.card-styles {
 /*    position: relative;
    top: 110px;

    width: 500px;
    height: auto;
    background-color: #ff6699;
    border-radius: 10%; */
    opacity: 1;
    backface-visibility: hidden;
    transform-origin: 50% 0;
    text-align: center;
    -webkit-text-fill-color: inherit;
    background-color: #fff;
   
    background-position: 50% -16%;
    background-repeat: no-repeat;
    background-size: auto;
    background-clip: border-box;
    border-radius: 30px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 399px;
    height: 487px;
    padding: 40px;
    display: flex
;
    position: sticky;
    top: 110px;
    box-shadow: 8px -2px 17px -8px #0000001c;
}

.card-styles .card_icon {
 
    color: #FA8334; 
    font-size: 5em;
}


@media (max-width: 500px) {
    .card-styles {
        backface-visibility: hidden;
        align-items: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        top: 100px;
    }
    
}