#root {
  max-width: 0 auto;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}


.header {
  display: flex;
  flex-direction: row;

  background-color: #EAEFEF;
  margin: 0 auto;
  justify-content: center;
  place-items: center;
  border-bottom: #888 1px solid;
  
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul {
  display: flex;
    flex-direction: row;
  list-style: none;
  gap: 2em;
  align-items: center;
  
}