.about {
  margin-top: 5vh;
  margin-bottom: 70vh;
}
.card_container {
background-image: url('src/Components/images/placeholder_walletMan.png');
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}