.cv_section{
  margin: 0;
  margin-top: 5vh;
  background-color: #eaefef;

}

.cv_container
{
  /*  background-image: url('src/Components/images/night_ocean_vector.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: fit-content; background-attachment: fixed;
  width: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;*/

}

#MeCV{   
  
  mask-image: url(https://assets.codepen.io/1101822/circles-mask-whole.svg);
  mask-repeat: no-repeat;
  mask-position: 30% center; /* juster denne værdi efter behov */
  mask-size: contain; /* eller try 'cover' for fuld dækning */
max-width: 100%;
display: block;
aspect-ratio: 1;
object-fit:contain;
 }


.features_wrapper{
  grid-column-gap: 4rem;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 0;
    display: flex;
    margin-bottom: 10vh;
    padding-top: 10vh;
}

.features_left {
  color:aliceblue;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  display: flex;
  position: sticky;
  top: 110px;
  margin-bottom: 10vh;
  

}

.features_right {   
  grid-row-gap: 200px;
  flex-direction: column;
  width: 400px;
  display: flex;
  position: relative;
  margin-bottom: 10vh;
}

@media (max-width: 500px) {

  .features_wrapper{
    grid-row-gap: 4rem;
        flex-direction: column;
  }

  .features_right {
    width: 100%;
    height: auto;
  }

  .features_left {
    padding-left: 0;
    padding-right: 0;
    position: static;
    align-self: center;
  }

  
}