.cite {
  margin-top: 1em;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  
}
.cite-grid {
  display: -moz-inline-box;
  background-color: #eaefef;
}

p {
  margin: 2em;
}
