.contact {
  margin-top: 1em;
    text-align: center;
    padding: 4rem;
   background: #EAEFEF;

  }
  .contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
  }
  .contact-text {
    text-align: left;
  }
  .contact-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 1rem;
  }
  