 .hero {
 
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: center; /* Ensure space between the image and text*/ 
  height: 100vh;
  padding-top:1em;
  background-color: #eaefef;

}


.hero-content {
  max-width: 55%; /* Ensures the text doesn’t take up too much space */
  padding: 2em; /* Add some space between image and text */
  
}
.image {
  position: absolute;
  width: 12rem; /* svarer til w-48 */
  height: 12rem;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: url('/images/Design_uden_navn-removebg-preview.png');
  mask-image: url('/images/Design_uden_navn-removebg-preview.png');
  -webkit-mask-size: cover;
  mask-size: 25rem;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.image-1 {
  top: 10%;
  left: 20%;
}

.image-2 {
  top: 15%;
  right: 20%;
 
}
.image-2 > img {
  object-fit: contain;
}
.image-3 {
  bottom: 10%;
  right: 50%;
}

.hero-content {
  position: relative;
  z-index: 10;
  text-align: center;
  max-width: 700px;
  padding: 0 1rem;
}

.hero-content h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-family: serif;
  font-weight: 600;
  margin-bottom: 1rem;
}

.hero-content h1 {text-align: justify;}
.hero-content > h3 {
  margin: 2em auto;
}

  .hero .highlight {
   font-family: 'MyCustomFontItalic';
    color: #ff6699;
  }
  .hero .cta {
    margin-top: 1rem;
    padding: 1rem 2rem;
    background: #ff6699;
    color: white;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    z-index: 2;
  }

  .hero .cta:hover {
    background-color: #2A2B2E;

  }

  .button-container {
    display: flex;
    flex-direction: column;
    gap:1em
  }

  html {
    scroll-behavior: smooth;
  }

  @media (max-width: 500px) {
    .hero {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
    
.image img {
  mask-size: 25rem;
}
    .image-1 {
     position: static;
    }

  .image-2 {
    position: absolute;
    bottom: -5px;
    left: -30px;
    opacity: 0.2;
    transform: scale(1.5);
  }
  .image-3 {
    display: none;
  }
    .hero-section::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.4); /* for bedre læsbarhed */
      z-index: 0;
    }
    } 
