.hero {
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: center; /* Ensure space between the image and text */
  height: 100vh;
  padding-top:1em;
  background-color: #eaefef;
  background-image: url('src/Components/images/image3_placeholder.jpg'); /* brug dit billede her */
      background-size: cover;
      background-position: center;
      color: white;
      position: relative;
}


.hero-content {
  max-width: 55%; /* Ensures the text doesn’t take up too much space */
  padding: 2em; /* Add some space between image and text */

}

.hero-content h1 {text-align: justify;}
.hero-content > h3 {
  margin: 2em auto;
}

  .hero .highlight {
   font-family: 'MyCustomFontItalic';
    color: #ff6699;
  }
  .hero .cta {
    margin-top: 1rem;
    padding: 1rem 2rem;
    background: #ff6699;
    color: white;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
  }

  .hero .cta:hover {
    background-color: #2A2B2E;

  }

  .button-container {
    display: flex;
    flex-direction: column;
    gap:1em
  }

  html {
    scroll-behavior: smooth;
  }

  @media (max-width: 500px) {
    .hero {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
    .hero-img{
      visibility: hidden;
    }
  
    .hero-section::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.4); /* for bedre læsbarhed */
      z-index: 0;
    }
    }