.hero {
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: space-between; /* Ensure space between the image and text */
  height: 100vh;
  padding-top:1em;
  background-color: #eaefef;
}

.hero-img {
  max-width:33%; /* Adjust size as needed */
  object-fit: cover; /* Ensures the image covers the space without distortion */
}

.hero-content {
  max-width: 55%; /* Ensures the text doesn’t take up too much space */
  padding: 2em; /* Add some space between image and text */

}

.hero-content h1 {text-align: justify;}
.hero-content > h3 {
  margin: 2em auto;
}

  .hero .highlight {
   font-family: 'MyCustomFontItalic';
    color: #ff6699;
  }
  .hero .cta {
    margin-top: 1rem;
    padding: 1rem 2rem;
    background: #ff6699;
    color: white;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
  }

  .hero .cta:hover {
    background-color: #2A2B2E;

  }

  .button-container {
    display: flex;
    flex-direction: column;
    gap:1em
  }

  html {
    scroll-behavior: smooth;
  }