.portfolio {
    margin-top: 1em;
    text-align: center;
    padding: 4rem;
   background: white;
    
  }

  .portfolio-banner{
    display: flex;
    flex-direction: row;
  }
  .portfolio-banner :first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .portfolio-banner :last-child {
    margin-left: auto;
  }
  .portfolio-grid {
    margin-top: 2em;;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    overflow:hidden;
    scroll-behavior: smooth;
   
  }
  .portfolio-grid img {
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
/*portfolio card styling */
  .portfolioCard{
    position: relative;
    width: 350px;
    height: 400px;
    margin: 0 auto;
    background: #fff;

    border-radius: 15px;
  }
  
  .portfolioCard .face{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .portfolioCard  .face.face1{
    box-sizing: border-box;
    padding: 20px;
  }
  
  .portfolioCard  .face.face1 h3{
    margin: 0;
    padding: 0;
  }
  
  .portfolioCard  .face.face1 .portfolioCardContent{
    font-size:1.2em;
    margin:0;
    padding:0 0 1em 0;
    font-weight:500;
  }
  
  .portfolioCard .face.face2{
   
    transition: 0.5s;
  }
  
  .portfolioCard .face.face1{
    background: linear-gradient(180deg, #D3B1A6, #f7308c);
    border-radius: 15px;
  }
  
  .portfolioCard .face.face2{
    background: linear-gradient(180deg, #728472, #eaefef);
    border-radius: 15px;
  }
  
  
  .portfolioCard:hover .face.face2{
    height: 60px;
    border-radius: 0 0 15px 15px;
  }
  
  .portfolioCard .face.face2:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    background: rgba(70, 171, 144, 0.074);
    border-radius: 15px 0 0 15px;
  }
  
  .portfolioCard  .face.face2 h3{
    margin: 0;
    padding: 0;
    font-size: 3rem;
    color: #fff;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0,0,0, .2);
  }
  
  .portfolioCard:hover .face.face2 h2{
    font-size: 2em;
  }


  @media (max-width: 500px){

    .portfolio-grid {
      display: flex;
      flex-direction: column;
    }

  .portfolio-grid img::before {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background: linear-gradient(
        0deg, 
        transparent, 
        transparent 30%, 
        rgba(0,255,255,0.3)
      );
      transform: rotate(-45deg);
      transition: all 0.5s ease;
      opacity: 0;
    }
    
    .portfolio-grid img:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(51, 144, 68, 0.5);
      border-radius: 1rem;
    }
    
    .portfolio-grid img:hover::before {
      opacity: 1;
      transform: rotate(-45deg) translateY(100%);
    }
  }
  