.portfoliosite h1 h2 {
    margin-top: 10vh;
}
.case_container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    padding: 30px;
    background-color: #eaefef;
   
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.label {display: flex;
    flex-direction: column;
    align-items: flex-start;}

.caroussel_showcase {
    margin: 2em 5em 0em 5em;
    padding: 20px;
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    background-color: #eaefef;
   
  }
  .caroussel_showcase img {
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .carousel-nav
  {margin-top: 2vh;display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;}
  
  
  .pager {
    display: flex;
    gap: 5px;
  }
  
  .pager-button {
    width: 8px;
    height: 5px;
    border-radius: 100%;
    background-color: #eaefef; /* Inactive state */
    border: black 1px solid;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .pager-button.active {
    background-color: #ff6699; /* Active state */
    transform: scale(1.2);
  }
  
  .pager-button:hover {
    background-color: orange; /* Hover state */
  }
  