#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.header {
  display: flex;
  flex-direction: row;
  gap: 2em;
  background-color: #EAEFEF;
  margin: 0 auto;
  justify-content: center;
  border-bottom: #888 1px solid;
  
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
