@font-face {
  font-family: 'MyCustomFont';
  src: url('/fonts/Sorts_Mill_Goudy/SortsMillGoudy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyCustomFontItalic';
  src: url('/fonts/Sorts_Mill_Goudy/SortsMillGoudy-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Headlinefont';
  src: url('/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  font-family: 'MyCustomFont';
  color: #3C3C3A;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0rem;
  width:100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #ff6699;
  text-decoration: inherit;
}
a:hover {
  color: #2A2B2E;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  
}

h2, h3 {
  font-family: 'Headlinefont';
font-weight: bold;}
button {
  border-radius: 2em;
  border: 2px solid ;
  background-color: transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  color:#2A2B2E ;
  background-color:#FA8334 ;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

html {
  scroll-behavior: smooth;
}
section {
  
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 500px) {
  
:root {
  font-family: 'MyCustomFont';
  color: #3C3C3A;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0rem;
  width:100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

}